* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContain {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.container {
  width: 377px;
  top: 32px;
  left: 32px;
  border-radius: 6px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}
.add {
  width: 59px;
  height: 40px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 10px;
  opacity: 1;
  color: white;
  border: rgba(60, 130, 246, 1);
  background: rgba(60, 130, 246, 1);
}
.add:hover {
  background-color: rgb(2, 73, 187);
}
.includes {
  width: 345px;
  gap: 32px;
  opacity: 1;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.todo {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  text-align: center;
}
.input {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  opacity: 1;
  border-width: 1px;
}
.button-container {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 130px;
}

.all {
  width: 38px;
  height: 32px;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  gap: 10px;
  opacity: 1;
  color: black;
  border: rgba(60, 130, 246, 1);
  background: rgba(243, 244, 246, 1);
}

.active {
  width: 60px;
  height: 32px;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  gap: 10px;
  opacity: 1;
  color: black;
  border: rgba(243, 244, 246, 1);
  background: rgba(243, 244, 246, 1);
}

.completed {
  width: 87px;
  height: 32px;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  gap: 10px;
  opacity: 1;
  border: rgba(243, 244, 246, 1);
  background: rgba(243, 244, 246, 1);
}
.toggleClass {
  background: rgba(60, 130, 246, 1);
  color: white;
}
.textofemptylist {
  width: 345px;
  height: 17px;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(107, 114, 128, 1);
  padding-bottom: 80px;
}
.footerfirst {
  padding-top: 10px;
  width: 345;
  height: 15;
  gap: 4px;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(107, 114, 128, 1);
  margin-left: 195px;
}
.footersecond {
  color: rgba(59, 115, 237, 1);
}
.task {
  width: 345px;
  height: 62px;
  gap: 10px;
  opacity: 1;
  padding: 16px;
  background: rgba(243, 244, 246, 1);
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
}

.task__inner-box {
  display: flex;
  gap: 20px;
}

.task__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  opacity: 1;
  border-width: 1px;
  margin-top: 5px;
}
.task__text {
  margin-top: 7px;
}

.task__delete {
  width: 67px;
  height: 30px;
  border: 0px;
  background: rgba(254, 242, 242, 1);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: rgba(239, 68, 68, 1);
}

.complete {
  text-decoration: line-through;
}
.inactiveInformation {
  width: 345px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-top: 16px;
  padding-bottom: 4px;
  border-top-width: 1px;
  border-top: 1px solid rgba(228, 228, 231, 1);
  visibility: hidden;
}

.inactiveInformation-active {
  visibility: visible;
}

.task-container {
  max-height: 300px;
  white-space: nowrap;
  overflow-y: scroll;
}
.scrollBox {
  margin-bottom: 10px;
}
